@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.input {
  padding: 1rem 2rem;
  margin-top: -7rem;
  @include tablet {
    padding: 1rem 8rem;
    margin-top: -15rem;
  }
  @include desktop {
    margin-top: -23rem;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 100%;
    background-color: $emphasis-color;
    @include desktop {
      width: 50%;
    }
  }
  &__list {
    @include desktop {
      width: 50%;
    }
  }
  &__area {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    @include tablet {
      flex-direction: row;
      padding: 1.5rem 2rem;
    }
  }
  &__space {
    width: 100%;
  }
  &__form,
  &__text,
  &__button {
    border-radius: 5px;
    border-style: none;
  }
  &__text {
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 0.25rem;
    font-size: 1rem;
    &:focus {
      outline: none;
      border: solid 3px $bright-color;
    }
    &--invalid {
      border: solid 3px orange;
    }
    @include tablet {
      padding: 0.5rem;
      font-size: 1.25rem;
    }
  }
  &__button {
    width: 100%;
    margin: 0.75rem 0 0;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    background-color: $bright-color;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.875rem;
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      font-size: 1.25rem;
      margin: 0 0 0 1rem;
      width: 50%;
    }
  }
  &__error {
    color: orange;
    font-size: 0.875rem;
  }
}
